Skip to content
This repository
Search
Pull requests
Issues
Gist
 @mirandawhen
 Watch 10
  Star 16
  Fork 38 jmankoff/data
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs
Branch: master Find file Copy pathdata/Assignments/jmankoff-viz/templates/index.html
1730139  on Feb 20
@jmankoff jmankoff ordering problem fixed
1 contributor
RawBlameHistory     261 lines (226 sloc)  10.6 KB
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
  <link href="css/d3.css" rel="stylesheet" type="text/css">
  <title>Visualization Byte Tutorial</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

 </head>
 <body>

  <body role="document">
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
      <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
  <h1>Data Pipeline Project Visualization Byte Example</h1>
        <p>This is the Visualization Byte of the Data Pipeline class.</p>
      </div>
      
      <div class="page-header">
  
      </div> <!-- /page-header -->
    </div> <!-- /container -->

    <h2>Hello</h2>
    <div id="tooltip"></div><!-- div to hold tooltip. -->
    <h2>Female Deaths</h2>
    <svg width="960" height="600" id="femaleStates"></svg> <!-- svg to hold the map. -->
    <h2>All Genders Deaths</h2>
    <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
    <h2>Male Deaths</h2>
    <svg width="960" height="600" id="maleStates"></svg> <!-- svg to hold the map. -->

</body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="templates/uStates.js"></script> <!-- creates uStates. -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="d3/d3.v3.js"></script>

    <script>
    // ----------- EVERY CHART NEEDS DATA -------------- 

        function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
            return "<h4>"+n+"</h4><table>"+
                "<tr><td>Death Count </td><td>"+(d.count)+"</td></tr>"+
                "</table>";
        }
        
        //Data Format?
        var female = {{female|safe}}
        var data = {{both|safe}}
        var male = {{male|safe}}
        console.log(data)
        console.log(female)

        var states = {
                'AK': 'Alaska',
                'AL': 'Alabama',
                'AR': 'Arkansas',
                'AS': 'American Samoa',
                'AZ': 'Arizona',
                'CA': 'California',
                'CO': 'Colorado',
                'CT': 'Connecticut',
                'DC': 'District of Columbia',
                'DE': 'Delaware',
                'FL': 'Florida',
                'GA': 'Georgia',
                'GU': 'Guam',
                'HI': 'Hawaii',
                'IA': 'Iowa',
                'ID': 'Idaho',
                'IL': 'Illinois',
                'IN': 'Indiana',
                'KS': 'Kansas',
                'KY': 'Kentucky',
                'LS': 'Louisiana',
                'MA': 'Massachusetts',
                'MD': 'Maryland',
                'ME': 'Maine',
                'MI': 'Michigan',
                'MN': 'Minnesota',
                'MO': 'Missouri',
                'MP': 'Northern Mariana Islands',
                'MS': 'Mississippi',
                'MT': 'Montana',
                'NA': 'National',
                'NC': 'North Carolina',
                'ND': 'North Dakota',
                'NE': 'Nebraska',
                'NH': 'New Hampshire',
                'NJ': 'New Jersey',
                'NM': 'New Mexico',
                'NV': 'Nevada',
                'NY': 'New York',
                'OH': 'Ohio',
                'OK': 'Oklahoma',
                'OR': 'Oregon',
                'PA': 'Pennsylvania',
                'PR': 'Puerto Rico',
                'RI': 'Rhode Island',
                'SC': 'South Carolina',
                'SD': 'South Dakota',
                'TN': 'Tennessee',
                'TX': 'Texas',
                'UT': 'Utah',
                'VA': 'Virginia',
                'VI': 'Virgin Islands',
                'VT': 'Vermont',
                'WA': 'Washington',
                'WI': 'Wisconsin',
                'WV': 'West Virginia',
                'WY': 'Wyoming'
            }

        var sampleData ={}; /* Sample random data. */   
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
            .forEach(function(d){ 
                var count = (female[states[d]]);
                sampleData[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/100)}; 
            });

        var femaleSample = {};
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
            .forEach(function(d){ 
                var count = (data[states[d]]);
                femaleSample[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/100)}; 
            });

        var maleSample = {};
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LS", "VA"]
            .forEach(function(d){ 
                var count = (male[states[d]]);
                maleSample[d]={count:count, color:d3.interpolate("#ffffcc", "#800026")(count/100)}; 
            });

        // data in format of: {StateName: {low, high, average, color}, StateName: {low, high, average, color}}
        
        /* draw states on id #statesvg */   
        uStates.draw("#statesvg", sampleData, tooltipHtml);
        uStates.draw("#femaleStates", femaleSample, tooltipHtml);
        uStates.draw("#maleStates", maleSample, tooltipHtml);
    </script>
</html>

